<div id="return_message"><%= @msg %></div>
<div class = "heading">
<h1>
<span class="test">
  <div class = "simpleCardGame">
    <div class = "card unmatch"></div> 
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
    <div class = "card unmatch"></div>
  </div>
   </span>
 <span id="pop_out">SHORTEN.</span> SHARE. MEASURE.</h1>

<p>Join bitly, the world's leading link management platform</p>
</div>
<br>
<br>
<form class = "input_box" action="/urls" method="post">
	<input id="long_input" placeholder = "Paste a link to shorten it" type ="text" name="long_url">
	<input id="button" type="submit"  value="SHORTEN">
</form>

 <br>
 <br>
<table class="output_table">
  
  <tr>
    <th>Long URL</th>
    <th>Short URL</th>
    <th>Click Count</th>
  </tr>
 
  <% @url.each do |u| %> 
  <div class="url_row">
  <tr> 
	<td><%= u.long_url %></td>
	<td><a href="/<%= u.short_url %>" target="_blank">
		<%= u.short_url %></a></td>
	<td><%= u.click_count %></td>
  </tr>
  </div>
  <% end %>

</table>
